@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #950000;
    --secondary: #faff00;
    --third: #ff2626;
    --basic: #0e0e0e;
    --background: #ff20f6;
    --input-stroke: #8f8f8f;
    --card: #1a1a1a;
  }
}

@layer components {
  .main {
    @apply mx-auto flex h-full w-full items-center justify-center gap-[60px] rounded-3xl border-2 border-secondary bg-primary shadow-[0_0px_10px_rgba(0,0,0,0.5)] shadow-secondary;
  }
  .main-inner {
    @apply flex h-full w-full flex-col items-center justify-center gap-[20px] rounded-lg border-2 border-white bg-black py-[20px] shadow-[0_0px_10px_rgba(0,0,0,0.5)] shadow-white;
  }
  .main-tokenarea {
    @apply flex h-full w-full justify-between gap-2.5 border border-dashed border-secondary bg-black p-[10px] shadow-[0_0px_20px_rgba(0,0,0,0.5)] shadow-[#FF2525];
  }
  .tokenarea-background {
    border: 1px dashed var(--red-linear, #e00900);
    background: linear-gradient(
      183deg,
      rgba(224, 9, 0, 0.3) 2.23%,
      rgba(166, 13, 7, 0.3) 97.87%
    );
  }
}

.connect-wallet {
  color: #faff00;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff2626;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #faff00;
}
.active {
  filter: drop-shadow(0 0 10px red);
}
.button-bg-primary {
  background: linear-gradient(183deg, #e00900 2.23%, #a60d07 97.87%);
}
.tokenarea-background {
  border: 1px dashed var(--red-linear, #e00900);
  background: linear-gradient(
    183deg,
    rgba(224, 9, 0, 0.3) 2.23%,
    rgba(166, 13, 7, 0.3) 97.87%
  );
}
.button-shadow {
  background: linear-gradient(
    230deg,
    #ff57f8 -22.44%,
    #f00 76.28%,
    #ff002e 104.03%
  );
  box-shadow: 1.936px 1.936px 3.872px 0px rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar {
  display: none;
}
p::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  display: block;
}
p::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 5px 5px 5px 5px;
}
.neon-lime {
  color: #c5f900;
  text-shadow: 0 0 7px #c5f900;
}
.neon-yellow {
  color: #faff00;
  text-shadow: 0 0 7px #faff00;
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.animate-skillCardSlide {
  opacity: 0;
  animation: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
.wrapper {
  /* margin-bottom: 5%; */
  height: 100%;
  overflow: hidden;
}
.wrapper .slide_container {
  height: 100%;
  width: 1000%;
}
.wrapper .slide_container .slide_wrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.wrapper .slide_container .slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.wrapper .slide_container .slide.original {
  animation: 25s linear infinite normal none running infiniteAnimation1;
}

.wrapper .slide_container .slide.clone {
  animation: 25s linear infinite infiniteAnimation2;
}

.wrapper .slide_container .slide.stop {
  animation-play-state: paused;
}

.wrapper .slide_container .slide li {
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  transform: scale(1);
  margin-left: 0.4%;
  margin-right: 0.4%;
}
.slide li .item img {
  width: 100%;
}

.wrapper .slide_container .slide li:hover {
  transform: scale(0.98);
}

.wrapper .slide_container .slide li:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
input {
  outline: none;
}
.raffle-typo {
  font-family: var(--font-anton);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #860000;
  font-weight: 400;
  letter-spacing: -0.6px;
  background: linear-gradient(0deg, #fff 0%, #faff00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-typo {
  font-family: var(--font-anton);
  -webkit-text-stroke: 0.7px #860000;
  letter-spacing: -1px;
  background: linear-gradient(0deg, #fff 0%, #faff00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.title-fail {
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  font-family: var(--font-anton);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  background: var(
    --try-next-time-motion,
    linear-gradient(0deg, #e3e3e3 100%, #525252 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-fail-shadow {
  font-family: var(--font-anton);
  font-weight: 400;
  letter-spacing: -0.6px;
  color: transparent;
  background: transparent;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.title-shadow {
  font-family: var(--font-anton);
  font-weight: 400;
  letter-spacing: -0.6px;
  color: transparent;
  background: transparent;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.create-default {
  border-radius: 20px;
  border: 5px solid #e6180f;
  background: radial-gradient(50% 50% at 50% 50%, #d0140c 0%, #6a0a06 100%);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5) inset;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.create-title {
  color: white;
  font-family: Impact;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #5a0703;
  font-size: 23px;
}

.winStyle {
  background: linear-gradient(288deg, #fff 16.45%, #faff00 103.12%);
  color: #222222;
}

.progressStyle {
  background: linear-gradient(279deg, #e00900 1.93%, #a60d07 86.23%);
  color: #ffffff;
}
.trapezoid-icon {
  display: inline-block;
  width: 150px;
  border-bottom: 20px solid black;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.gradiant-create-box {
  background: radial-gradient(50% 50% at 50% 50%, #d0140c 0%, #6a0a06 100%);
}
